@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
:root{
    --cor-primaria: #03a9f4;
    --cor-secundaria: #9dc9f5;
}

/* primeiro: resetar o css */
*{
    margin: 0;  /*da borda pra fora, margin*/
    padding: 0; /*da borda pra dentro, padding*/
    box-sizing: border-box; /* todo elemento tem que respeitar a borda*/
    outline: var(--cor-primaria); /*mostrar contorno quando focado*/
    }
    